# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DigitalInnovationOne\recriando-pagina-instragam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
